VITE_APP_NAME=Dockerized Vite App Test
# VITE_API_URL gets defined in .env.development for dev mode and in a Docker build argument (configured via Dockerfile.prod) for production. See README.md for the build command to use for production builds.